---
const { craft } = Astro.props;
---

<div class="content">
  <!-- Market -->
  <div class="overflow-x-auto">
    <table class="sm:table-fixed">
      <thead>
        <tr>
          <th colspan="2" class="min-w-[120px]">Valor por Item Market</th>
          <th class="min-w-[120px]">Valor Total Market</th>
          <th class="min-w-[120px]">Custo por Craft Market</th>
          <th class="min-w-[120px] xl:w-[250px]"
            >Custo por Item Craftado Market</th
          >
          <th class="min-w-[120px]">Custo Craft Total Market</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            <input
              type="number"
              id={`item-price`}
              class="sm:w-100 form-input md:w-3/5 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none item-price"
              value={craft.value_npc}
            />
          </td>
          <td id={`item-total`}></td>
          <td id={`cost-by-craft-market`}></td>
          <td id={`cost-by-item-market`}></td>
          <td id={`cost-total-market`}></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Lucro Total no Market:</th>
          <td class="text-left" id={`profit-market`}></td>
          <th scope="row">Margem de Lucro Market:</th>
          <td class="text-left" id={`profit-margin-market`}></td>
          <th scope="row">Lucro por Hora Market:</th>
          <td class="text-left" id={`profit-by-hour-market`}></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- Market -->
  <!-- NPC -->
  <div class="overflow-x-auto">
    <table class="sm:table-fixed">
      <thead>
        <tr>
          <th colspan="2" class="min-w-[120px]">Valor por Item NPC</th>
          <th class="min-w-[120px]">Valor Total NPC</th>
          <th class="min-w-[120px]">Custo por Craft Npc</th>
          <th class="min-w-[120px] xl:w-[250px]">Custo por Item Craftado Npc</th
          >
          <th class="min-w-[120px]">Custo Craft Total Npc</th>
        </tr>
      </thead>
      <tbody>
        <td colspan="2" id={`npc-value`}>{craft.value_npc}</td>
        <td id={`item-npc`}>{craft.value_npc * craft.results}</td>
        <td id={`cost-by-craft-npc`}></td>
        <td id={`cost-by-item-npc`}></td>
        <td id={`cost-total-npc`}></td>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Lucro Total no Npc</th>
          <td class="text-left" id={`profit-npc`}></td>
          <th scope="row">Margem de Lucro Npc</th>
          <td class="text-left" id={`profit-margin-npc`}></td>
          <th scope="row">Lucro por Hora Npc</th>
          <td class="text-left" id={`profit-by-hour-npc`}></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- NPC -->
</div>

<!-- <div class="content">
  <table>
    <thead>
      <tr>
        <th>Valor por Item NPC</th>
        <th>Valor Total NPC</th>
        <th>Valor por Item Market</th>
        <th>Valor Total Market</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id={`npc-value`}>{craft.value_npc}</td>
        <td id={`item-npc`}>{craft.value_npc * craft.results}</td>
        <td>
          <input
            type="number"
            id={`item-price`}
            class="form-input w-3/5 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none item-price"
            value={craft.value_npc}
          />
        </td>
        <td id={`item-total`}></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Custo por Craft Npc</th>
        <th>Custo por Item Craftado Npc</th>
        <th>Custo Craft Total Npc</th>
        <th>Custo por Craft Market</th>
        <th>Custo por Item Craftado Market</th>
        <th>Custo Craft Total Market</th>
      </tr>
    </thead>
    <tbody>
      <td id={`cost-by-craft-npc`}></td>
      <td id={`cost-by-item-npc`}></td>
      <td id={`cost-total-npc`}></td>
      <td id={`cost-by-craft-market`}></td>
      <td id={`cost-by-item-market`}></td>
      <td id={`cost-total-market`}></td>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Lucro Total no Npc</th>
        <th>Margem de Lucro Npc</th>
        <th>Lucro por Hora Npc</th>
        <th>Lucro Total no Market</th>
        <th>Margem de Lucro Market</th>
        <th>Lucro por Hora Market</th>
      </tr>
    </thead>
    <tbody>
      <td id={`profit-npc`}></td>
      <td id={`profit-margin-npc`}></td>
      <td id={`profit-by-hour-npc`}></td>
      <td id={`profit-market`}></td>
      <td id={`profit-margin-market`}></td>
      <td id={`profit-by-hour-market`}></td>
    </tbody>
  </table>
</div> -->

<script type="module">
  const profitInputs = document.querySelectorAll(".item-price");
  profitInputs.forEach((input, index) => {
    input.addEventListener("input", function () {
      let inputValue = this.value;
      if (inputValue.length > 8) {
        this.value = inputValue.slice(0, 8);
      }
    });
  });
</script>
