---
const { craft } = Astro.props;
---

<div class="content">
  <!-- Profit -->
  <table>
    <thead>
      <tr>
        <th>Valor por Item NPC</th>
        <th>Valor Total NPC</th>
        <th>Valor por Item Market</th>
        <th>Valor Total Market</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id={`npc-value`}>{craft.value_npc}</td>
        <td id={`item-npc`}>{craft.value_npc * craft.results}</td>
        <td>
          <input
            type="number"
            id={`item-price`}
            class="form-input w-3/5 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none item-price"
            value={craft.value_npc}
          />
        </td>
        <td id={`item-total`}></td>
      </tr>
    </tbody>
  </table>
  <!-- Profit -->
  <!-- Custos -->
  <table>
    <thead>
      <tr>
        <th>Custo por Craft Npc</th>
        <th>Custo por Item Craftado Npc</th>
        <th>Custo Craft Total Npc</th>
        <th>Custo por Craft Market</th>
        <th>Custo por Item Craftado Market</th>
        <th>Custo Craft Total Market</th>
      </tr>
    </thead>
    <tbody>
      <td id={`cost-by-craft-npc`}></td>
      <td id={`cost-by-item-npc`}></td>
      <td id={`cost-total-npc`}></td>
      <td id={`cost-by-craft-market`}></td>
      <td id={`cost-by-item-market`}></td>
      <td id={`cost-total-market`}></td>
    </tbody>
  </table>
  <!-- Custos -->
  <!-- Lucros -->
  <table>
    <thead>
      <tr>
        <th>Lucro Total no Npc</th>
        <th>Margem de Lucro Npc</th>
        <th>Lucro por Hora Npc</th>
        <th>Lucro Total no Market</th>
        <th>Margem de Lucro Market</th>
        <th>Lucro por Hora Market</th>
      </tr>
    </thead>
    <tbody>
      <td id={`profit-npc`}></td>
      <td id={`profit-margin-npc`}></td>
      <td id={`profit-by-hour-npc`}></td>
      <td id={`profit-market`}></td>
      <td id={`profit-margin-market`}></td>
      <td id={`profit-by-hour-market`}></td>
    </tbody>
  </table>
  <!-- Lucros -->
</div>

<script type="module">
  const profitInputs = document.querySelectorAll(".item-price");
  profitInputs.forEach((input, index) => {
    input.addEventListener("input", function () {
      let inputValue = this.value;
      if (inputValue.length > 8) {
        this.value = inputValue.slice(0, 8);
      }
    });
  });
</script>
