---
import RecipeCard from "@/components/RecipeCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import RecipesHeader from "@/partials/RecipesHeader.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByRank } from "@/lib/utils/sortFunctions";

const RECIPE_FOLDER = "professor";

const craftIndex = (await getEntry(
  RECIPE_FOLDER,
  "-index",
)) as CollectionEntry<"professor">;
const crafts = await getSinglePage(RECIPE_FOLDER);
const sortedCrafts = sortByRank(crafts);
---

<Base
  title={craftIndex.data.title}
  meta_title={craftIndex.data.meta_title}
  description={craftIndex.data.description}
>
  <RecipesHeader title="Professor" />

  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- Lista de receitas -->
        <div class="lg:col-12">
          <div class="row">
            {
              sortedCrafts.map((craft) => (
                <div class="mb-14 md:col-4">
                  <RecipeCard data={craft} />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
